# Điền URL repository GitHub của bạn
REPO_URL=https://github.com/dth251/ss08-md05--rikkei


# Token đăng ký lấy tại: GitHub Repo -> Settings -> Actions -> Runners -> New self-hosted runner
RUNNER_TOKEN=YOUR_GITHUB_RUNNER_REGISTRATION_TOKEN

# Tên và nhãn của Runner
RUNNER_NAME=quickbite-runner-01
RUNNER_LABELS=self-hosted,linux,x64,docker
RUNNER_GROUP=Default
